.room-image {
    max-width: 50%;
}

.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 1em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.notie-container {
    box-shadow: none;
}
.datepicker-dropdown {
    bottom: 100% !important; /* Force the calendar above */
    top: auto !important;    /* Disable the default downward positioning */
    z-index: 9999 !important; /* Make sure it is on top of all elements */
}